table{
  width: 100%;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: #DEDEDE;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: normal;
  box-sizing: border-box;
}

.tg th {
  border-color: #DEDEDE;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0pky {
  border-color: #DEDEDE;
  vertical-align: middle;
}

.tg .tg-0lax {
  vertical-align: middle;
}