.w-100{
  width: 100%;
}

.w-20p{
  width: 20%;
}

.w-25p{
  width: 25%;
}

.w-33p{
  width: 33%;
}

.w-30p{
  width: 30%;
}

.w-10p{
  width: 10%;
}

.w-sm-50p{
  @media(max-width: 414px){
    width: 50%;
  }
}

.text-align-center{
  text-align: center;
}

.font-weight-bold{
  font-weight: bold;
}

.text-red{
  color: #FF0000;
}

.text-brown{
  color: #523500;
}

.text-green{
  color: #3DA558;
}

.text-gray{
  color: #9D9D9D;
}

.text-white{
  color: #fff;
}

.text-pink{
  color: #E215EA;
}

.text-blue{
  color: #0000FF;
}

.text-light-blue{
  color: #6195F0;
}

.text-black{
  color: black;
}

.text-deep-blue{
  color: #003BFF
}

.text-yellow{
  color: #EBA92C;
}

.bg-deep-blue{
  background: #034F9B;
}

.bg-yellow{
  background: #FFF83C;
}

.bg-deep-green{
  background: #00793C;
}

.bg-white{
  background: #fff;
}

.font-size-18{
  font-size: 18px;
}

.font-size-16{
  font-size: 16px;
}

.font-size-15{
  font-size: 15px;
}

.font-size-20{
  font-size: 20px;
}

.font-size-22{
  font-size: 22px;
}

.font-size-24{
  font-size: 24px;
}

.font-size-30{
  font-size: 30px;
}

.font-size-14{
  font-size: 14px;
}

.font-size-24{
  font-size: 24px;
}

.bg-brown{
  background: #DEC07A;
}

.bg-ocean-blue{
  background: #3366FF;
}

.bg-green{
  background: #019C3A;
}

.bg-red{
  background: #FF0000;
}

.bg-blue{
  background: #6195F0;
}

.h-100{
  height: 100px;
}

.h-25{
  height: 25px;
}

.h-100p{
  height: 100%;
}

.h-70p{
  height: 70%;
}

.vertical-align-middle{
  vertical-align: middle;
}

.d-flex{
  display: flex;
}

.d-inline{
  display: inline;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}
.justify-content-space-around{
  justify-content: space-around;
}

.justify-content-space-between{
  justify-content: space-between;
}

.flex-direction-column{
  flex-direction: column;
}

.my-5{
  margin-top: 5px;
  margin-bottom: 5px;
}

.mb-5{
  margin-bottom: 5px;
}

.mr-auto{
  margin-right: auto;
}

.mr-5{
  margin-right: 5px;
}
.ml-5{
  margin-left: 5px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.pt-10{
  padding-top: 10px;
}

.pl-10{
  padding-left: 10px;
}

.p-10{
  padding: 10px;
}

.pb-10{
  padding-bottom: 10px;
}

.p-5{
  padding: 5px;
}

.p-10{
  padding: 10px;
}

.pb-10{
  padding-bottom: 10px;
}

.lh-25{
  line-height: 25px;
}

.lh-20{
  line-height: 20px;
}

.lh-50{
  line-height: 50px;
}

.lh-25-sm{
  @media (max-width: 414px){
    line-height: 25px;
  }
}

.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative;
}

.cursor-pointer{
  cursor: pointer;
  &:hover{
    cursor: pointer;
  }
}

.d-block{
  display: block;
}

.font-size-sm-14{
  @media (max-width: 414px){
    font-size: 14px;
  }
}

.font-size-sm-16{
  @media (max-width: 414px){
    font-size: 16px;
  }
}

.font-size-sm-18{
  @media (max-width: 414px){
    font-size: 18px !important;
  }
}

.border-radius-20{
  border-radius: 20px;
}

.border-bottom-gray{
  border-bottom: 2px solid #DEDEDE;
}

.border-bottom-yellow{
  border-bottom: 2px solid #D6E7FD;
}

.letter-spacing-minus3{
  letter-spacing: -3px;
}